

<div class="follow-container">
  <div class="container">
    <% if @user.following_user.empty? %>
      <div class="favorite-empty">
        <h1>フォローしている人はいません</h1>
      </div>
    <% else %>
      <% @user.following_user.where.not(id: current_user.id).each do |user| %>
      <div class="row pt-5">
        <div class="col-md-3 follow-border">
          <div class="pt-1 pb-1">
            <%= link_to user_path(user) do %>
              <%= attachment_image_tag user, :image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg", class:"image-field"%>
            <% end %>
          </div>
        </div>
        <div class="col-md-3 pt-5 follow-border">
          <%= user.name %>
        </div>
        <div class="col-md-3 pt-5  follow-border">
          <% if current_user.following?(user) %>
            <%= link_to 'フォロー外す', user_relationships_path(user.id), method: :delete,class:"btn btn-danger"%>
          <% else %>
            <%= link_to 'フォローする', user_relationships_path(user.id), method: :post,class:"btn btn-success" %>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
