<div class="user-container">
  <div class="container">

    <h1>マイページ</h1>


    <div class="row mt-5">

      <div class="col-md-3">
        <div class="">
          <%= attachment_image_tag @user, :image, format: 'jpeg', size: "250x250", fallback: "no_image.jpg", class:"image-field"%>
        </div>
      </div>

      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6 my-name">
            <%= @user.name %>
          </div>
          <div class="col-md-3 my-profile">
            <%= link_to "プロフィールを編集", edit_user_path %>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-5 relationship">
            <p>フォロー数: <%= link_to("#{@user.follower.count}", following_user_path) %></p>
          </div>
          <div class="col-md-5 relationship">
            <p>フォロワー数: <%= link_to("#{@user.followed.count}", followed_user_path) %></p>
          </div>
        </div>
        <div class="row my-bike mt-2">
          <div class="col-md-2">
            <%= label_tag "Myバイク" %>
          </div>
          <div class="col-md-10">
             <%= @user.bike_name %>
          </div>
        </div>
        <div class="row my-introduction mt-2">
          <div class="col-md-2">
            <%= label_tag "ひとこと" %>
          </div>
          <div class="col-md-10">
            <%= @user.introduction %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
