<div class="login-container">

  <h2 class="login-title">ログイン</h2>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <%= render 'layouts/error_messages', model: f.object %>
  <div class="form-group">
  </div>


    <div class="login-field">
      <%= f.label :Eメール %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-md-4" %>
    </div>

    <div class="login-field mt-2">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"col-md-4" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="login-field mt-2">
        <%= f.check_box :remember_me %>
        <%= f.label :パスワードを保存する %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>

</div>
