<div class="parking-edit-container clearfix">
  <div class="container pt-2">

    <%= form_for @parking do |f| %>
    <div class = "row mb-4">
      <div class = "col-md-2 offset-md-3 mt-2 parking-edit-field">
        <%= f.label "パーキング名" %>
      </div>
      <div class = "col-md-4">
        <%= f.text_field :parking_name %>
      </div>
    </div>

    <div class = "row mb-4">
      <div class = "col-md-2 offset-md-3 mt-2 parking-edit-field">
        <%= f.label "郵便番号" %>
      </div>
      <div class = "col-md-4">
        <%= f.text_field :postcode %>
      </div>
    </div>

    <div class = "row mb-4">
      <div class = "col-md-2 offset-md-3 mt-2 parking-edit-field">
        <%= f.label "都道府県" %>
      </div>
      <div class = "col-md-4">
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name %>
      </div>
    </div>

    <div class = "row mb-4">
      <div class = "col-md-2 offset-md-3 mt-2 parking-edit-field">
        <%= f.label "住所" %>
      </div>
      <div class = "col-md-4">
        <%= f.text_field :address %>
      </div>
    </div>

    <div class = "row mb-4">
      <div class = "col-md-2 offset-md-3 mt-2 parking-edit-field">
        <%= f.label "定休日" %>
      </div>
      <div class = "col-md-4">
        <%= f.text_field :regular_holiday %>
      </div>
    </div>

    <div class = "row mb-4">
      <div class = "col-md-2 offset-md-3 mt-2 parking-edit-field">
        <%= f.label "料金" %>
      </div>
      <div class = "col-md-4">
        <%= f.text_field :fee %>
      </div>
    </div>

    <div class = "row mb-4">
      <div class = "col-md-2 offset-md-3 mt-2 parking-edit-field">
        <%= f.label "TEL" %>
      </div>
      <div class = "col-md-4">
        <%= f.text_field :tel, placeholder: "090-○×○×-○×○×" %>
      </div>
    </div>

    <div class = "row mb-4">
      <div class = "col-md-2 offset-md-3 mt-2 parking-edit-field">
        <%= f.label "利用可能時間" %>
      </div>
      <div class = "col-md-4">
        <%= f.text_field :time, placeholder: "24時間" %>
      </div>
    </div>

    <div class = "row mb-4">
      <div class = "col-md-2 offset-md-3 mt-2 parking-edit-field">
        <%= f.label "車両制限" %>
      </div>
      <div class = "col-md-4">
        <%= f.text_field :restriction, placeholder: "全長200cm・全幅100cm" %>
      </div>
    </div>

    <div class = "row mb-4">
      <div class = "col-md-2 offset-md-3 mt-2 parking-edit-field">
        <%= f.label "収容台数" %>
      </div>
      <div class = "col-md-4">
        <%= f.text_field :capacity, placeholder: "◯◯台" %>
      </div>
    </div>

    <div class = "row">
      <div class = "offset-md-5">
        <%= f.submit "編集内容を保存する" %>
      </div>
    </div>

  <% end %>
  </div>
</div>