<div class="parking-index" style="background-color: lightyellow;">
  <div class="container">

           <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer>
           </script>

          <script>
            function initMap(){

              <% @parkings.each do |p| %>

                new google.maps.Map(document.getElementById("map_<%= p.id %>"), {
                  center: {lat: <%=p.latitude%>, lng: <%=p.longitude%>},
                  zoom: 15
                });
              <% end %>
            }
          </script>

  <% if params[:prefecture_code] %>
      <h1 class="pt-5 pb-5"><%= Parking.new(prefecture_code: params[:prefecture_code]).prefecture.name %>のパーキング一覧</h1>
  <% else %>
      <h1 class="pt-5 mb-5"><%= params[:q][:parking_name_or_address_or_regular_holiday_or_fee_cont] %>の検索結果</h1>
  <% end %>

    <% @parkings.each do |p| %>

    <div class="row pb-5">

      <div class="col-md-6">
        <div class="">
          <div class="map" id="map_<%= p.id %>"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-4">
          <%= link_to p.parking_name, parking_path(p.id)%>
        </div>

        <div class="mb-4">
          <%= p.address %>
        </div>

        <div class="mb-4">
          <%= p.regular_holiday %>
        </div>

        <div class="mb-4">
          <%= p.fee %>
        </div>

        <div id="favorite_button_<%= p.id %>">
          <%= render partial: 'favorites/favorite', locals: { p: p} %>
        </div>
      </div>

    </div>

    <% end %>

  </div>
</div>


　　　　 <style>
        .map{
          height: 300px;
          width: 500px;
        }
        </style>
