<!DOCTYPE html>
<html>
  <head>
    <title>Bikenavi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/6fbc12f48f.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style = "height:80px;border-bottom:1px solid black;background-color:pink;">
<nav class="navbar navbar-expand-md navbar-dark">
     <% if user_signed_in? %>
        <li class = "nav-item mr-5 ml-5">
          <%= link_to image_tag("/assets/bikelogo.jpg", size: '100x70'), root_path %>
        </li>




        <li class = "nav-item ml-5">
          <%= link_to "マイページ", user_path(current_user), class: "btn btn-info" %>
        </li>
        <li class = "nav-item ml-5">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-info" %>
        </li>
        <li class = "nav-item ml-5">
          <%= link_to "パーキング投稿", new_parking_path, class: "btn btn-info" %>
        </li>
        <li class = "nav-item ml-5">
          <%= link_to "お気に入りパーキング一覧", favorites_path, class: "btn btn-info" %>
        </li>
     <% else %>
        <li class = "nav-item mr-5 ml-5">
          <%= link_to "ロゴ", root_path, class: "btn btn-info" %>
        </li>
        <li class = "nav-item ml-5">
          <%= link_to "about", home_about_path, class: "btn btn-info" %>
        </li>
        <li class = "nav-item ml-5">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-info" %>
        </li>
        <li class = "nav-item ml-5">
          <%= link_to "新規会員登録", new_user_registration_path, class: "btn btn-info" %>
        </li>
      <% end %>
    </nav>
  </header>

    <%= yield %>
  </body>
</html>
